

    <div class="form-style m-5" style="
    text-align: center;">
      <%= simple_form_for @team do |f|  %>
        <%= f.input :title,  label: "Name your Team"  %>
        <%= f.submit class: 'btn post-btn'%>
      <%end%>
    </div>
