.user-bg{
  background: rgb(18,177,139);
  background: linear-gradient(90deg, rgba(18,177,139,1) 61%, #2b3438 83%);
  border-radius: 50px 50px 0px 0px;
  height: 300px;
 }

.profile-information{
  color: #2b3438;

}
