.title-team{
  background: #2b3438;
background: linear-gradient(90deg, #2b3438 5%, rgba(18,177,139,1) 50%, #2b3438 95%);
  border-radius: 8px 8px 0px 0px;
  margin: 0 0;
  text-align: center;
  h3{
    margin: 0 0;
    color: #1e2528;
    font-weight: 600;
  }
}
